.leftMenuContainer {
    width: 4%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    background-color: #1AAE9F;
    padding-top: 5vh;
}

.icons {
    background-color: white;
    border-radius: 1vh;
    width: 90%;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.2s ease-in-out;
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5vh;
    overflow: hidden;
    color: #147b71;
    font-weight: bold;
    padding-bottom: 0.3vh;
}

.icons:hover {
    box-shadow: 5px 5px 2px black;
    width: 92%;
    transition: all 0.2s ease-in-out;
}